<<<<<<< HEAD
<table class="table table-bordered table-striped table-hover">
	<tr>
		<th>Receipt No</th>
		<th></th>
	</tr>
	<%@takeaway_orders.each do |order|%>
		<%if order.is_takeaway%>
		<tr>
			<td><%=order.receiptno%></td>
			<td><%=link_to 'Show Receipt',order_bill_path(:id=>order.id)%></td>
		</tr>
		<%end%>
	<%end%>
=======
<table class="table table-bordered table-striped table-hover">
	<tr>
		<th>Receipt No</th>
		<th></th>
	</tr>
	<%@takeaway_orders.each do |order|%>
		<%if order.is_takeaway%>
		<tr>
			<td><%=order.receiptno%></td>
			<td><%=link_to 'Show Receipt',order_bill_path(:id=>order.id)%></td>
		</tr>
		<%end%>
	<%end%>
>>>>>>> 7b65526ebc566b406761db5db874edfff6dcd787
</table>