<<<<<<< HEAD
<h1 class="text-center">Paris Dhaba Is Now Closed For Business!!</h1>
<h3 class="text-center">You will be able to access main panel after system is restarted on the next working date.</h3>
=======
<h1 class="text-center">Paris Dhaba Is Now Closed For Business!!</h1>
<h3 class="text-center">You will be able to access main panel after system is restarted on the next working date.</h3>
>>>>>>> 7b65526ebc566b406761db5db874edfff6dcd787
