<<<<<<< HEAD
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html' http-equiv='Content-Type' />
  </head>
  <body>
   <p>Report For <%=@date.to_s%></p>
  </body>
=======
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html' http-equiv='Content-Type' />
  </head>
  <body>
   <p>Report For <%=@date.to_s%></p>
  </body>
>>>>>>> 7b65526ebc566b406761db5db874edfff6dcd787
</html>